{
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "singleQuote": true,
    "bracketSameLine": true,
    "printWidth": 120
}